*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border: 5px solid rgb(16, 20, 238);
}

ul li a{
    color: rgb(8, 0, 1);
    padding: 5px 15px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    position: relative;
}

a:hover{
    color:white;
}

ul li span{
    content: "";
    z-index: -1;
    width:25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(236, 19, 12);
    transition: all 0.15s;
    transform: scaleY(0);
    transform-origin: top;
}

a:hover span{
    transform: scaleY(1);
}

span:nth-child(2){
    left: 25%;
    transition-delay: 0.15s;
}

span:nth-child(3){
    left: 50%;
    transition-delay: 0.30s;
}

span:nth-child(4){
    left: 75%;
    transition-delay: 0.45s;
}








